<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>


    <header>

        <div class="links">
            <a class="pic" href=https://www.inaglobe.com><img src ="/img/logo.png"></a>
            
            <div class="linksR">
                    <a class="home" href= https://www.inaglobe.com/>HOME</a>
                    <a href= https://www.inaglobe.com/abouttab>ABOUT</a>
                    <a href= https://www.inaglobe.com/projects>PROJECTS</a>
                    <a href= https://www.inaglobe.com/careers-1>CAREERS</a>
                    <a href= https://www.inaglobe.com/contact>CONTACT</a>
            </div>

        </div>
    </header>

    <div class= "homepage"> 
        <a href="/projectSubmission">Submit a New project</a>
        <a href="/organizationRegistration">Register your Organization</a>
        <a href="/projects">List of all projects</a>        
    </div>


</html>