form
{
    display: flex;
    border-style: solid; 
    border-color: #2E325C;
    border-radius: 10px; 
    box-shadow: 5px; 
    padding: 40px;
    margin-top: 5%;   
    margin-left: 10%; 
    margin-right: 10%;
    background: linear-gradient( #435a8b, white);
}

.project 
{
    flex-direction: column;
}

.projectHeader h2
{
    margin-top: -10px; 
    font-size: 75px; 
    color: #c1cfe6;
    width: 100%;
}

li
{
    list-style-type: none;
    padding: 20px; 
    font-size: 30px; 
    margin-left: 20px; 
}

textarea
{
    width: 90%;
    border-radius: 5px; 
    margin-left: 40px; 
}

input
{
    height: 30px;
    width: 100%;  
    border-radius: 5px; 
}

img 
{
    width: 120px; 
    height: 120px; 
    margin-left: 10%;
}

header a 
{
    color: #2E325C;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 0px 24.03px; 
    padding: 16.686px 0px;  
}

.home 
{
    margin-left: 50%;
}

.linksR
{
    margin-top: -100px; 
}

.info
{
    text-align: center;
    margin-top: 10%; 
}

.info p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
}

.info h1 
{
    font-size: 52px; 
    color: #2E325C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}